@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@font-face {
  font-family: 'Beckan';
  src: url('./Fonts/Beckan.otf');
}

.header {
  font-family: 'Beckan', sans-serif;
 
 }

 .subheader {
  font-family: 'Beckan', sans-serif;
  
  
 }

ul {
  font-family: 'Beckan', sans-serif;
  font-size: 30px; 
}

li:hover{
  transform: scale(1.1); 
  transition: transform 0.1s ease; 

.line {
  border: none;
  border-top: 2px solid white;
  margin: 10px 0;
}

.about {
  font-family: 'Beckan', sans-serif;
  font-size: 30px;
}

.gallery-description {
  font-family: 'Beckan', sans-serif;
  
 }

 .menu {
  font-family: 'Beckan', sans-serif;
  font-size: 30px;
} */

